*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    #hero{
        #navbar{
            nav{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background: linear-gradient(0deg,#556ad4,#01359e,#556ad4);
         
            #left-element{
                h1{
                    color: white;
                    font-size: 28px;
                    font-family:Arial, Helvetica, sans-serif ;
                    text-shadow: 0 0 5px skyblue, 8px 2px 10px black;
                }
            }
            #right-element{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                a{
                    color: white;
                    font-size: 18px;
                    text-decoration: none;
                    font-family:Arial, Helvetica, sans-serif;
                    text-shadow: 0 0 5px skyblue, 2px 3px 10px black;
                }
                a:hover{
                    color: white;
                    text-shadow: 0 0 5px skyblue, 4px 5px 10px white;
                }
            }
            }
        }
    }
    #nav2{
        background-color: #fff;
        text-align: center;
        align-items: center;

        h1{
            margin: 0px;
            padding-bottom: 5px;
            span{
            width: 100%;
            color: #01359edc;
            border-bottom: 2px #01359edc solid;
            font-size: 22px;
            font-family: Arial, Helvetica, sans-serif;
            padding: 2px;
            }
        }
    }

    #nav3{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between; 
        align-items: center;
        width: 95%;
        margin-left: 25px;
        // background: linear-gradient(45deg,#01359edc,#55d4d4af,#01359edc);
        background-color: #ffb55a71;
        border-radius: 5px;
        margin-bottom: 15px;
        h1{
            color: #01359edc;
            padding-left: 5px;
            font-family: "JetBrains Mono",sans-serif;
        }
       
        #buttonforadd{
            
  align-items: center;
  background: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 35px;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  transition: transform .10s;
  font-size: 15px;
  margin: 10px;
}

#buttonforadd:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#buttonforadd:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(1px);
}
    }
    }

    .container{
        border: 1px silver solid;
        box-shadow: 0 0 10px black,0 5px 10px silver;
        width: 95%;
        margin-left: 25px;
        padding: 10px;
        display: grid;
        justify-content: center;
        align-items: center;
        #table{
            #head{
                text-align: center;
                border: 2px blue solid;
                th{
                    text-align:center;
                    align-items: center;
                    padding: 10px 40px;
                    font-size: 18px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #3c4fe0;
                    background-color:#5adbff3b;
                    border-radius: 6px;

                }
            }
            #output{
                text-align: center;
                width: 100%;
                
                #tabledata{
                    td{
                            #eye{
                                font-size: 25px;
                                color: green;
                                border: none;
                            }
                            #trash{
                                color:red;
                                font-size:25px;
                                border: none;
                            }
                            #editt{
                                color:gold;
                                font-size:25px;
                                border:none;
                            }
                        }
                }
                #tabledata:nth-child(odd){
                    width: 100%;
                        background-color: rgba(245, 222, 179, 0.495);
                }

                td{
                    color: black;
                    font-size: 22px;
                    padding: 10px 40px;
                    // border-bottom: 1px #3c4fe0 dashed;
                }
            }
        }
    }

    #deletbtn{
        color: blue;
    }

    #add{
        #addform{
            display: grid;
            justify-content: center;
            align-items: center;
            margin: 10px;
            width: 30%;
            margin-left: 550px;
            padding: 50px;
            background: linear-gradient(45deg,#ffb55a71,silver);
            box-shadow: 0 0 3px black,0 0 10px black;

            input{
                width: 100%;
                height: 100%;
                padding: 5px;
                box-shadow: 2px 0 5px white,0 0 10px black;
                display: grid;
                justify-content: center;
                align-items: center;
            }

            button{
                width: 100%;
                font-size: 15px;
                border-radius: 5px;
                border: 1px #3c4fe0 solid;
                padding: 5px;
            }
        }
    }

    #edittable{
            display: grid;
            justify-content: center;
            align-items: center;
            margin: 10px;
            width: 30%;
            margin-left: 550px;
            padding: 50px;
            background: linear-gradient(45deg,#ffb55a71,silver);
            box-shadow: 0 0 3px black,0 0 10px black;

            input{
                width: 100%;
                padding: 5px;
                box-shadow: 2px 0 5px white,0 0 10px black;
                display: grid;
                justify-content: center;
                align-items: center;
            }
        }

        #foot{
            background-color: #ffb55a71;
            #items{
                display: grid;
                justify-content: center;
                align-items: center;
                margin-top:100px;
                padding: 10px;
                h1{
                    text-align: center;
                    color: #01359edc;
                    width: 100%;
                    span{
                        color:rgba(255, 0, 0, 0.68);
                        font-size: 25px;
                    }
                }
            }
        }


//Tablet View
@media screen and (max-width:768px)
        {
            .container{
                #table{
                    #head{
                        th{
                            font-size: 12px;
                            padding: 10px 20px;
                        }
                    }
                    #output{

                text-align: center;
                width: 100%;
                
                #tabledata{
                    td{
                        font-size: 12px;
                            #eye{
                                font-size: 15px;
                                color: green;
                            }
                             #trash{
                                color:red;
                                font-size:15px;
                                border: none;
                            }
                            #editt{
                                color:gold;
                                font-size:15px;
                                border:none;
                            }
                        }
                }
                #tabledata:nth-child(odd){
                    width: 100%;
                        background-color: rgba(245, 222, 179, 0.495);
                }

                td{
                    color: black;
                    font-size: 22px;
                    padding: 5px 20px;
                    // border-bottom: 1px #3c4fe0 dashed;
                }
            }
                }
            }
            #add{
        #addform{
            display: grid;
            justify-content: center;
            align-items: center;
            margin: 5px;
            width: 40%;
            margin-left: 250px;
            padding: 50px;
            background: linear-gradient(45deg,#ffb55a71,silver);
            box-shadow: 0 0 3px black,0 0 10px black;

            input{
                border-radius: 5px;
                width: 100%;
                height: 100%;
                padding: 5px;
                box-shadow: 2px 0 5px white,0 0 10px black;
                display: grid;
                justify-content: center;
                align-items: center;
            }

            button{
                width: 100%;
                font-size: 15px;
                border-radius: 5px;
                border: 1px #3c4fe0 solid;
                padding: 5px;
            }
        }
    }

    #edittable{
            display: grid;
            justify-content: center;
            align-items: center;
            margin: 10px;
            width: 30%;
            margin-left:250px;
            padding: 30px;
            background: linear-gradient(45deg,#ffb55a71,silver);
            box-shadow: 0 0 3px black,0 0 10px black;

            input{
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                box-shadow: 2px 0 5px white,0 0 10px black;
                display: grid;
                justify-content: center;
                align-items: center;
            }
        }
        }

//Mobile View
@media screen and (max-width:430px){

            body{
                #hero{
                    #navbar{
                        nav{
                           #left-element{
                            h1{
                                font-size: 15px;
                            }
                           }
                           #right-element{
                            a{
                                font-size: 15px;
                            }
                           }
                        }
                    }
                }
               #nav3{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between; 
        align-items: center;
        width: 95%;
        margin: 10px;
        background-color: #ffb55a71;
        border-radius: 5px;
        margin-bottom: 15px;
        h1{
            font-size: 15px;
        }
            }
             .container{
                margin-left: 10px;
                #table{
                    #head{
                        th{
                            font-size: 10px;
                            padding: 5px 10px;
                        }
                    }
                    #output{

                text-align: center;
                width: 100%;
                
                #tabledata{
                    td{
                        font-size: 10px;
                            #eye{
                                font-size: 10px;
                                color: green;
                            }
                             #trash{
                                color:red;
                                font-size:10px;
                                border: none;
                            }
                            #editt{
                                color:gold;
                                font-size:10px;
                                border:none;
                            }
                        }
                }
                #tabledata:nth-child(odd){
                    width: 100%;
                        background-color: rgba(245, 222, 179, 0.495);
                }

                td{
                    color: black;
                    font-size: 15px;
                    padding: 5px 0px;
                    // border-bottom: 1px #3c4fe0 dashed;
                }
            }
                }
            }
        }

        #add{
        #addform{
            display: grid;
            justify-content: center;
            align-items: center;
            margin: 10px;
            width: 50%;
            font-size: 15px;
            margin-left: 100px;
            padding: 10px;
            background: linear-gradient(45deg,#ffb55a71,silver);
            box-shadow: 0 0 3px black,0 0 10px black;
            border-radius: 2px;

            input{
                width: 100%;
                border-radius: 4px;
                height: 100%;
                padding: 5px;
                box-shadow: 2px 0 5px white,0 0 10px black;
                display: grid;
                justify-content: center;
                align-items: center;
                font-size: 15px;
            }

            button{
                width: 100%;
                font-size: 15px;
                border-radius: 5px;
                border: 1px #3c4fe0 solid;
                padding: 5px;
            }
        }
    }

    #edittable{
            display: grid;
            justify-content: center;
            align-items: center;
            margin: 10px;
            width: 50%;
            margin-left: 100px;
            padding: 30px;
            background: linear-gradient(45deg,#ffb55a71,silver);
            box-shadow: 0 0 3px black,0 0 10px black;

            input{
                width: 100%;
                padding: 5px;
                box-shadow: 2px 0 5px white,0 0 10px black;
                display: grid;
                justify-content: center;
                align-items: center;
            }
        }
    }